*{
    margin:0;
    padding:0;
}
body{
    background:rgba(190, 178, 178, 0.575);
    display:flex;
    flex-direction:column;
}
header{
    background-color: black;
    position:fixed;
    width: 100%;
    padding:10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.div-boton{
    background: none;
    color:white;
    font-size: 30px ;
    border:none;
}
.logo{
    width: 200px;
    height:150px;
}
/*lista de productos*/
.products{
    float:left;
    position:fixed;
    top: 0;
    right:100%;
    width:25%;
    margin-top: 40px;
    transition: right 0.3s;
}
.products_visible{
    right:75%;
}
.list-items{
    padding:0;
}
ul{
    color: white;
    padding: 10px;
}
.lista-1{
    font-size: 25pt;
    list-style: none;
    background-color:black;
    padding:10px;
}
.list-link:hover{
    color:rgb(177, 172, 172);
}
.lista-2{
    font-size: 15pt;
    list-style: none;
    transition: all 0.5s ease 0s;
}
.lista-2:hover{
    font-size:14pt;
}

/*Ingresar*/
.ingresar{
    margin-top:60px;
}
.ingresar a img{
    width: 40px;
}
a{
    text-decoration: none;
    color: white;
    font-family:'roboto medium';
}
/*carro de compras*/
.carro{
    margin:40px;
    margin-left: 100px;
}
.carro a img{
    width: 20%;
}
/*banner*/
.banner{
    margin-top:170px;
    width: 100%;
    height:400px;
}
/*mas vendidos*/
h1{
    margin:20px;
    text-align:center;
    font-family: 'Roboto';
    color: rgb(136, 34, 34);
    font-size: 50pt;
}
.masvendidos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content:center;

}
.descripcion{
    margin:10px 0px;
    font-family: 'Roboto';
    font-weight:bolder;
    text-align: center;
    color:rgb(66, 65, 65);
}
center{
    font-family: 'Roboto';
}
article{
    margin:10px;
    width: 300px;
}
.imgVendidos{
    width:100%;
    box-shadow: 2px 2px 20px black;
}
b{
    color:black;
    text-align: center;
    transition: all 0.5s ease; 
}
b:hover{
    color:red;
    cursor: pointer;
}
/*footer*/
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	justify-content:space-between;
}
ul{
	list-style: none;
}
.footer{
	background-color:#BAB8B8;
    margin-top:20px;
    padding: 20px;
}
.footer-info h4{
	font-size: 22px;
	color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
}
.footer-info ul li a{
	font-size: 16px;
	color: #6f7070;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	
	transition: all 0.3s ease;
}
.footer-info ul li a:hover{
	color: #d6d6d6;
	padding-left: 8px;
}
.footer-info .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: black;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}
.footer-info .social-links a:hover{
	color: #24262b;
	background-color: white;
}